/* Variables 
 * If you need another color add it here, it will be easier to find it for others
 * DO NOT USE CUSTOM COLORS IN CODE!!!
*/
:root{

    /* Colors */
    --bg-color: #fff;
    --text-color: #000;
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --darker-grey: #d9d9d9;
    --black: #000;

    /* Font */
    --root-font-size: 1em;

    /* Buttons */
    --btn-text-color: #fff;
    --btn-bg-color: var(--blue);

    /* Filters */
    --filter-hover-bg: #deebff;

    /* Cards */
    --card-bg-color: #fff;
    --card-border-color: #fff;
    --card-shadow-color: rgba(0, 0, 0, .14);

    /* Responsive */

        /* Tablet */

        /* Mobile */
    --padding-x: 1.4rem;

}

/* Reset 
 * Resets some browsers css properties
*/
*{
    font-family: 'Raleway', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    font-size: var(--root-font-size);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}


/* Layout 
 * Specific classes for layout
*/
.container{

    width: 100%;
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;

}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

/* Margins / Paddings */
.mb-1{
    margin-bottom: .5rem;
}

.mb-2{
    margin-bottom: 1rem;
}

.mb-3{
    margin-bottom: 2rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.ml-1{
    margin-left: .5rem;
}

.ml-2{
    margin-left: 1rem;
}

.ml-3{
    margin-left: 2rem;
}

.ml-4{
    margin-left: 4rem;
}

/* Texts */

.section-title{
    font-size: 1.375rem;
}

.section-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

i[class^="fa"]{
    color: var(--blue);
}

.icon-font{
    font-family: "Font Awesome 6 Free";
}


/* Header */

.top-bar{
    align-items: stretch;
    justify-content: space-between;
}

.top-bar-title img{

    max-height: 32px;
    margin-top: 40px;

}

.top-bar-link{
    height: 100%;
    padding: 0 2rem;
    border-top: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
}

.top-bar-link span{
    align-self: flex-end;
    position: relative;
    bottom: 12px;
}

.top-bar-link:hover{

    color: var(--blue);
    border-top-color: var(--blue);

}

/* Searchbar */

.searchbar{
    align-items: stretch;
}

.form-input, .form-input-prefix{
    border: 1px solid var(--grey);
    padding-left: 1rem;
}

.form-input{
    width: 15%;
    font-weight: 700;
    font-size: 1.125rem;
    position: relative;
}

.form-input:focus{
    outline: none;
}

.form-input::placeholder{
    color: var(--text-color);
}

.form-input-prefix{
    background: var(--grey);
    padding: .9rem 1.1rem;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

.form-input-prefix i{
    color: var(--black);
}

.form-input-btn{

    border: none;
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    padding: 0 1rem;
    font-size: 1.125rem;
    cursor: pointer;

}

/* Filters */

.filter-container .section-title{
    font-size: 1.125rem;
}

.filters{
    align-items: center;
    gap: 2.25rem;
    flex-wrap: wrap;
}

.filter{

    background: transparent;
    border-radius: 25px;
    border: 2px solid var(--darker-grey);
    font-size: 1.0625rem;
    padding: .625rem 1.25rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.filter i{
    margin-right: .725rem;
    font-size: 1.2rem;
}

.filter:hover{
    background: var(--filter-hover-bg);
}

.filter-info{
    align-items: center;
}

.filter-info i{

    font-size: .625rem;
    border-radius: 50%;
    border: 1px solid var(--darker-grey);
    padding: 0.4rem .6rem;
    margin-right: .8rem;

}

/* Host */
.host-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.host{

    padding: 2.625rem 2.5rem;
    background: var(--grey);
    border-radius: 20px;
    box-sizing: border-box;

}

.host.marseille{
    width: 67%;
}

.host.trend{
    width: 30%;
}

.host.marseille .section-title{
    margin-bottom: 1.4375rem;
}

.host-row{
    justify-content: space-between;
}

.host-row:not(.last-row){
    margin-bottom: 1.875rem;
}

.host-row.last-row{
    margin-bottom: 2.5rem;
}

.host-show-more{
    font-size: 1.125rem;
    font-weight: 700;
}

.host.trend{
    flex-direction: column;
    justify-content: space-between;
}

.host.trend .section-header{

    align-items: center;
    justify-content: space-between;

}

/* Activities */

#Activites .card{
    width: 22%;
}

.activities-container{
    justify-content: space-between;
}


/* Cards */

.card{

    position: relative;
    width: 30%;
    background: var(--card-bg-color);
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--card-shadow-color);
    overflow: hidden;

}

.card .card-content{
    height: 100%;
}

.card .card-img-container{
    overflow: hidden;
    position: relative;
    border: 5px solid var(--card-border-color);
}

.card .card-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .card-info{
    padding: .3rem 1rem .75rem 1rem;
}

.card .card-info-desc{
    margin-top: .45rem;
    margin-bottom: .55rem;
    font-size: .875rem;
}

.card .card-info-title{
    font-size: 1rem;
}

.card .card-info-rating{
    font-size: .75rem;
}

.card .card-info-rating .empty{
    color: var(--grey);
}

    /* Horizontal Layout */

.card.horizontal .card-img{
    width: 100%;
}

.card.horizontal .card-img-container{
    border-radius: 20px 20px 0 0;
}

.card.horizontal .card-img-container:before{
    content: "";
    position: relative;
    display: block;
    padding-top: 48%;
}

.card.horizontal .card-info{
    height: 44%;
}


    /* Vertical Layout */

.host-column{
    flex-direction: column;
    gap: 33px;
}

.card.vertical{
    width: 100%;
}

.card.vertical .card-img-container{
    width: 42%;
    border-radius: 20px 0 0 20px;
}

.card.vertical .card-img-container:before{
    content: "";
    position: relative;
    display: block;
    padding-top: 108%;
}

.card.vertical .card-info{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
}

.card.vertical .card-img{
    height: 150%;
}

    /* Big */

.card.big .card-img-container:before{
    content: "";
    position: relative;
    display: block;
    padding-top: 140%;
}

.card.big .card-img-container{
    position: relative;
    border-radius: 20px 20px 0 0;
    border: none;
}

.card.big .card-img{
    height: 114%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.card.big .card-info{
    position: relative;
    padding: 2rem 0;
}

.card.big .card-info-title{
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
    transform: translateY(-50%);
}

/* Footer */

.footer-bar{
    background: var(--grey);
    padding: 2.8125rem 4.6rem;
    gap: 20%;
}

.footer-bar-section{
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.footer-bar-section-title{
    font-size: 1.125rem;
}


/* Responsive */ 

    /* Desktop */
    .mobile-only{
        display: none;
    }


    /* Tablets */
@media (max-width: 992px){


    /* Layout */
    .container:not(.footer-bar){
        padding: 0 2rem;
    }

    /* Searchbar */
    .searchbar .form-input{
        width: 27%;
    }

    /* Filters */
    .filters{
        gap: 1.1rem;
    }

    /* Host */

    .host-container{
        flex-direction: column;
    }
    .host-container .host{
        width: 100%;
    }

    .host.marseille{
        margin-bottom: 3.125rem;
    }

    .host-column{
        flex-direction: row;
        gap: 20px;
    }

    .host-column .card-img-container::before{
        padding-top: 140% !important;
    }
    
    /* Cards */

    .card .card-info{
        padding-left: .5rem !important;
        padding-right: .6rem !important;
    }

        /* Big */
    .card.big .card-img-container::before{
        padding-top: 120%;
    }

    .card.big .card-img{
        height: 126%;
    }

    /* Activities */
    #Activites .section-title{
        margin-bottom: 1.875rem;
    }

    /* Footer */
    .footer-bar{
        gap: 12%;
    }

}

    /* Mobile */
@media (max-width: 768px){


    /* Layout */
    .container{
        padding: 0 !important;
    }

    .mobile-hidden{
        display: none;
    }

    .mobile-only{
        display: block;
    }

    /* Header */

    header{
        margin-bottom: 2rem !important;
    }

    .top-bar{
        flex-direction: column;
        gap: 50px;
    }

    .top-bar-title{
        width: 100%;
        text-align: center;
    }

    .top-bar-title img{
        margin-top: 30px;
    }

    .top-bar-link-container{
        width: 100%;
    }

    .top-bar-link{
        display: block;
        width: 50%;
        text-align: center;
        border-top: 0;
        border-bottom: 3px solid var(--grey);
        padding-bottom: 1.6rem;
    }


    .top-bar-link:focus, .top-bar-link:hover{
        border-bottom-color: var(--blue);
    }

    .top-bar-link span{
        bottom: 0;
    }


    /* Searchbar */
    
    .searchbar-container{
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .searchbar-container .section-title{
        margin-bottom: .8rem;
    }

    .searchbar-container .section-subtitle{
        margin-bottom: 2.2rem;
    }

    .searchbar .form-input{
        width: 80% !important;
    }

    .searchbar .form-input-btn i{
        color: #fff;
    }

    /* Filters */

    .filter-container{
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .filters{
        gap: 0;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .filters .section-title{
        width: 100%;
        margin-bottom: 1rem;
    }


    .filter{
        font-size: .7rem;
        width: 48%;
        padding: .8rem 0.6rem;
        margin-bottom: 1rem;
    }

    .filter-info{
        align-items: baseline;
    }

    /* Host */

    .host-container{
        flex-direction: column-reverse;
        margin-bottom: 1rem !important;
    }

    .host{
        border-radius: 0;
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .host.marseille{
        background: var(--bg-color);
        margin-bottom: 0;
    }

    .host-show-more{
        display: none;
    }

    .host-row{
        flex-direction: column;
        gap: 30px;
    }

    .host-row .card{
        width: 100%;
    }

    .host-column{
        flex-direction: column;
    }

    .host-column .card .card-img-container{
        width: 33%;
    }
    .host-column .card .card-img-container::before{
        padding-top: 100% !important;
    }

    /* Activities */

    #Activites{
        padding: 0 var(--padding-x);
    }

    .activities-container{
        flex-direction: column;
        gap: 30px;
    }

    .activities-container .card{
        width: 100% !important;
    }

    /* Cards */

        /* Big */

        .card.big .card-img-container::before{
            padding-top: 40% !important;
        }

        .card.big .card-img{
            height: auto !important;
            width: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    /* Footer */
    .footer-bar{
        flex-direction: column;
        gap: 50px;
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .footer-bar-section-title{
        margin-bottom: 6px;
    }

}